#fixedButtom>div {
    position: absolute;
    left: 100%;
    top: 100%;
    padding: 0 10px 10px 10px;
    border-radius: 7px;
    box-shadow: #00000020 0 0 30px;
    background-color: #ffffff99;
    z-index: 999;
    backdrop-filter: blur(8px);
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 0.3s;
  }
  #fixedButtom>div:hover{
    box-shadow: #00000040 0 0 40px;

  }
  #fixedButtom>div>a {
    padding: 6px 15px;
    cursor: pointer;
    display: flex;
    align-items: center
  }
  
  #fixedButtom>div>a:hover {
    background-color: #00000008
  }
  #fixedButtom>div>.tap{
    
  }
  #fixedButtom>div .tapInner{
    margin: 8px auto 8px auto;
    height: 0.4rem;
    width: 3rem;
    border-radius: 0.5rem;
    background: #00000030;
  }
#fixedButtom .others{
  display: flex;
  gap: 8px;
  flex-direction: column;
}
  .progressElm#volum{
    height:1.8rem;
    width: 11rem;
    border-radius: .4rem;
    background: #00000010;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .progressElm#volum>.Color{
    background-color: var(--color-theme-alpha);
    position: absolute;
    height: inherit;
    width: calc(var(--progressPercent) * 100%);
    z-index: 1;
  }
  .progressElm>.Icon{
    display: flex;
    position: absolute;
    height: inherit;
    left: 0;
    padding-left: 0.2rem;
    justify-content: center;
    z-index: 2;
    align-items: center;
    color: #00000030;
}
.progressElm>.Icon>svg{
    height: 80%;
}

#fixedButtom .others .gridbuttom{
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2,1fr);
}
#fixedButtom .others .gridbuttom>*{
  background: #00000010;
  border-radius: 0.4rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00000070;
  cursor: pointer;
}
#musicPanel{
  animation: spawn2 0.1s cubic-bezier(.3, .45, .2, .95);
}
@keyframes spawn2 {
  0% {
      opacity: 0;
      transform: translate(0%,10%) scale(1.05);
  }
  100%{
      opacity: 1;
      transform: translate(0%,0) scale(1);  

  }
}