#messageLab{
    position: fixed;
    z-index: 9999999;
    width: 100%;
    pointer-events: none;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
#messageLab>div{
    padding: 9px;
    font-size: 0.8rem;
    opacity: 0; 
    transform: translateY(-30%) scale(1.05);
    padding:10px;
    border-radius: 10px;
    box-shadow: #00000020 0 0 30px;
    backdrop-filter: blur(8px);
    background-color: #ffffff99;
}

@keyframes spawn {
    0% {
        margin:2rem;
        opacity: 0;
        transform: translate(0%,30%) scale(1.05);
        filter: blur(1vmax);
    }
    5%{
        margin:1.90rem;

        opacity: 1;
        transform: translate(0%,0) scale(1);  
        filter: blur(.95vmax);

    }
    95%{
        margin:0.05rem;
        opacity: 1;
        transform: translate(0%,0) scale(1);
        filter: blur(.05vmax);

    }
    100%{
        margin:0rem;
        opacity: 0;
        transform: translate(0%,-30%) scale(0.95);

        filter: blur(0vmax);

    }
}