
:root{
    --botton-color-background: rgb(0,0,0,0.08);
    --botton-color-border: rgb(0,0,0,0.2);

}

.na-bottonBigger,.na-bottonBiggerHover:hover{
    background-color: var(--botton-color-background);
    border: solid 0.15em var(--botton-color-border);

}
.na-bottonBigger,.na-bottonBiggerHover{
    background-color: none;
    padding: 0.5em;
    border-radius: 1.15em;
    border: solid 0.15em #ffffff00;
    transition: background-color .2s,border .2s,border-radius 0s;
}
div.linkbox a{
    border: solid 0.15em #ffffff00;
    display: flex;
}
div.linkbox a:hover{
    background-color: var(--botton-color-background);
    border: solid 0.15em var(--botton-color-border)
}
.playerIndexSide>div.linkbox a:hover{
    background-color: var(--botton-color-background);
    border: none !important;
    transform: none;
}
.playerIndexSide>div.linkbox a:active{
    background-color: var(--botton-color-border);
}
.playerIndexSide>div.linkbox a{
    /* background-color: var(--botton-color-background); */
    border: none !important;
    transition: none;
}
.to-bottom-buttom{
    height: 30px;
    position: absolute;
    left: 20px;
    top: 14px;
    padding: 7px;
    border-radius: 13px;
    color: rgb(0,0,0,0.1);
    
    transition: all 0.1s;
}
#player:hover .to-bottom-buttom{
    color: rgb(0,0,0,0.3);
}
.to-bottom-buttom:hover{
    background-color: var(--botton-color-background);
    color: rgb(0,0,0,.8);
}