
:root{
    --botton-color-background: rgb(0,0,0,0.08);
    --botton-color-border: rgb(0,0,0,0.2);

}

.na-bottonBigger,.na-bottonBiggerHover:hover{
    background-color: var(--botton-color-background);
    border: solid 0.15em var(--botton-color-border);

}
.na-bottonBigger,.na-bottonBiggerHover{
    background-color: none;
    padding: 0.5em;
    border-radius: 1.15em;
    border: solid 0.15em #ffffff00;
    transition: background-color .2s,border .2s,border-radius 0s;
}
div.linkbox a{
    border: solid 0.15em #ffffff00;
    display: flex;
}
div.linkbox a:hover{
    background-color: var(--botton-color-background);
    border: solid 0.15em var(--botton-color-border)
}
.playerIndexSide>div.linkbox a:hover{
    background-color: var(--botton-color-background);
    border: none !important;
    transform: none;
}
.playerIndexSide>div.linkbox a:active{
    background-color: var(--botton-color-border);
}
.playerIndexSide>div.linkbox a{
    /* background-color: var(--botton-color-background); */
    border: none !important;
    transition: none;
}