#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

body > div.app-loading-wrap{
  display: none-;
}
h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}
img[lazy=loading],img:not([src]),img[src=""],img[lazy=error],img[lazy=error]::before{
  background: linear-gradient(#ccc, #bbb);
}


html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

:root {
  --paddingIndex-MaxWidth: calc(100vw - calc(var(--paddingIndex) + var(--paddingIndex)));
  --paddingIndex: 12vw;
  --hsla-white: hsla(0, 0%, 95%, .4);
  --minplayerHeight: 48px;
  --leftlab-width: 56px;
  --color-theme: #0080ff;
  --color-theme-background: #0080ff15;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: hsla(0, 0%, 50.2%, .15);
}

@media (max-width: 1500px) {
  :root {
    --paddingIndex: 15vw
  }
}

@media (max-width: 1200px) {
  :root {
    --paddingIndex: 13vw
  }
}

@media (max-width: 800px) {
  :root {
    --paddingIndex: 10vw
  }
}

@media (max-width: 600px) {
  :root {
    --paddingIndex: 6vw;

  }

  .tl-title {
    font-family: harmonyLite;
    display: none;

  }
}

.acrylicEffect,.leftlab.leftlab.iconWithText {
	-webkit-backdrop-filter:
    /* 负责背景模糊 */
    blur(3vw)
    /* 负责亮度，100 以下会变暗，以上会提亮 */
    brightness(100%)
    /* 负责颜色饱和度，可以减小来衬托前景，避免背景太鲜艳 */
    saturate(140%);
  backdrop-filter:
    /* 负责背景模糊 */
    blur(3vw)
    /* 负责亮度，100 以下会变暗，以上会提亮 */
    brightness(100%)
    /* 负责颜色饱和度，可以减小来衬托前景，避免背景太鲜艳 */
    saturate(140%);
  /* 负责颜色叠加，一半白色、黑色或主题色，衬托前景 */
  background-color: #ffffff88;
  /* 负责在效果上添加噪点，可以营造出磨砂效果 */
  /* 磨砂大小 */
}

.leftlab {
  position:absolute;
  width: calc(var(--leftlab-width) - 20px);
  height: calc(100vh - 20px);
  display: flex;
  top: 0;
  padding: 10px 10px;
  float: left;
  color: #444;
  font-size: 26px;
  align-content: center;
  background-color: #fff;
  gap: 12px;
  flex-direction: column;
  z-index: 100;
  backdrop-filter:
  /* 负责背景模糊 */
  blur(0vw)
  /* 负责亮度，100 以下会变暗，以上会提亮 */
  brightness(100%)
  /* 负责颜色饱和度，可以减小来衬托前景，避免背景太鲜艳 */
  saturate(140%);
  transition: all .2s cubic-bezier(.3, .45, .2, .95);
  -webkit-backdrop-filter:
  /* 负责背景模糊 */
  blur(0vw)
  /* 负责亮度，100 以下会变暗，以上会提亮 */
  brightness(100%)
  /* 负责颜色饱和度，可以减小来衬托前景，避免背景太鲜艳 */
  saturate(140%);
  transition: all .2s cubic-bezier(.3, .45, .2, .95);

}
.leftlab.top{
  display: none;
}
.leftlab.icon{
  transition: width .2s cubic-bezier(.3, .45, .2, .95) 0.2s;

}
.leftlab.leftlab.iconWithText{
  transition: width .2s cubic-bezier(.3, .45, .2, .95),box-shadow .2s cubic-bezier(.3, .45, .2, .95);
  box-shadow: 4px 0px 50px #00000005;
}
.leftlab>.linkbox{
  flex-direction: column;
  align-items: flex-start;
}

.leftlab>.linkbox>a{
  background: rgb(0, 0, 0, 0);
  white-space: nowrap;
  padding: 8px;
  width: calc(100% - 19px);
  user-select: none;
  display: flex;
  align-items:center;
  position: relative;
}

.leftlab>.linkbox>a>a{
  pointer-events: none;
  transform: translate(0%,-50%);
  margin-left: 1.3em;
  font-size: 16px;
  position: absolute;
  top: 50%;
}
.leftlab.icon>.linkbox>a>a{
  opacity: 0;
  transition: all .2s cubic-bezier(.3, .45, .2, .95),color 0s;

}
.leftlab.iconWithText>.linkbox>a>a{
  opacity: 1;
  transition: all .2s cubic-bezier(.3, .45, .2, .95) .2s,color 0s;

}
.leftlab.iconWithText{
  --leftlab-width: 200px;
}
nav {
  padding: 30px;
}

.linkbox {
  display: flex;
  align-content: center;
  gap: 12px;
  align-items: center;
  flex-direction: row;
}

.linkbox>a {


  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 7px;
  background: rgb(0, 0, 0, 0.03);
  color: #444;
  transition: all .2s cubic-bezier(.3, .45, .2, .95);
}

.linkbox.bigger>a {

  position: relative;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.linkbox>a:hover {
  cursor: pointer;
  background: rgb(0, 0, 0, 0.03);
  transform: scale(1.05);
}

.linkbox a:active {
  transform: scale(0.90);
}

.linkbox a.router-link-exact-active {
  color: #0080ff;

  background: #0080ff15;
}

input#searchInput,#searchInputTemp {

  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 7px;
  transition: all .2s cubic-bezier(.3, .45, .2, .95);
  color: #2c3e50;
  border: none;
  margin: auto 0;
  background: #00000008;
  outline: none;
  width: 200px;
  margin: 10px 0;
}
#searchInputTemp{
  height: 2em;
}

#link-musicLib-me {
  display: none;
}

@media (max-width: 650px) {
  .toplab>.linkbox>a {
    font-size: 14px;
  }

  .toplab {
    font-size: 23px;
  }

  input#searchInput {
    font-size: 14px;
    height: 16px;
  }

  #link-musicLib-me {
    display: block;
  }

  #link-musicLib {
    display: none;
  }
}

@media (max-width: 410px) {
  .linkbox>a {
    font-size: 14px;
  }
  div.player-Mini > div:nth-child(1),div.tracks > div:nth-child(1){
    width: 100%;
    display: flex;
  }
  .toplab {
    font-size: 23px;
  }

  input#searchInput {
    font-size: 14px;
    height: 16px;
    width: 150px;
  }
}
.ROWTOPtitle{
  position: relative;
  display: flex;
  gap: 12px;
  background-color: #fff;
  z-index: 1;
  align-items: center;
  
}
.ROWTOPtitle>div.dragBar{
  width: calc(100%);
  height: 100%;
  
  
}
.dragBar{
  -webkit-app-region: drag
}
.tl-title {
  user-select: none;
  font-size: 22px;
  padding: 10px 0;
  margin-left: 8px;
}

.tl-title::after {
  padding: 0 0 0 15px;
}
.rightrow{
flex-direction: column;
  position: relative;
  
  display: flex;
  padding: 0px 00px 0px calc(var(--leftlab-width) + 00px);
  width:  calc(100% - var(--leftlab-width));
  height:100vh;
}
.viewBox {
  height: 100%;
  
  float: left;
  border-radius: 12px;
  background: var(--hsla-white);
  
  padding:20px;
  padding-bottom: 84px;
  overflow-y: auto;
  overflow-x: hidden;
}

.opes {
  padding: 20px 0;
  transition: all .5s cubic-bezier(.3, .45, .2, .95);
  filter: blur(0px);

}

.playButtom {
  position: absolute;
  top: 100%;
  left: 100%;
  height: 48px;
  border: solid 2px rgb(255, 255, 255, .35);
  border-radius: 50%;
  transform: translate(calc(-100% - 24px), calc(-100% - 24px)) scale(1);
  width: 48px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-image: radial-gradient(closest-side, rgb(255, 255, 255, 0.65), rgb(255, 255, 255, .20)),
   url(./icon/24gf-play.svg);
  background-size: 100% 100%, 25px, 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%, 54% 52%;
  transition: all .5s cubic-bezier(.3, .45, .2, .95);
}

.playButtom:hover{
  transform: translate(calc(-100% - 24px), calc(-100% - 24px)) scale(1.1);
}
.playButtom:active{
  transform: translate(calc(-100% - 24px), calc(-100% - 24px)) scale(0.9);
}
/**.

  主播放器UI

*/
#player {
  position: fixed;
  overflow: hidden;
  top: calc(100% + 20px);
  
  z-index: 101;
  width: 100%;
  transition: all .5s cubic-bezier(.3, .45, .2, .95);
  padding-bottom: 20px;
  box-shadow: #00000005 0 0 40px 0px;
  height: calc(100% + var(--minplayerHeight));
  background: #ffffff;
}
/* .tracks{
  background-color: #0080ff15;
} */
.tracks{
  height: var(--minplayerHeight);
  min-height: var(--minplayerHeight);
  padding: 9px 9px;
  position: relative;
  gap: 8px;
  display: flex;
  overflow: hidden;
  border-radius: calc(var(--minplayerHeight) * .2)
}
.tracks .num{
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  aspect-ratio: 1 / 1.8;
}
.tracks .linkbox>a{
  padding: 6px;
}
.tracks:hover{
  background-color: rgb(0, 0, 0, .03);
}
.player-Mini {
  position: absolute;
  width:calc(100% - 30px);
  gap: 8px;
  background-color: #fff;
  padding: 9px 15px;
  height: var(--minplayerHeight);
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  z-index: 2;
  flex-direction: row;
  justify-content: space-between;
}
.player-Mini-img,.trackIMG{
    display: inline-block;
    position: relative;
    user-select: none;
    height: inherit;

    height: calc(var(--minplayerHeight) - 3px);
    width: calc(var(--minplayerHeight) - 6px);
    padding: 3px 3px 0 3px;
}
.trackIMG{
  padding: 0px 5px 0 0px;

}
.player-Mini-img>*{
  transition: 0.08s;
}
.player-Mini-img>img,.trackIMG>img:nth-child(1){
  border-radius: 6px;
  height: 100%;
}
.player-Mini-img> img:nth-child(1){
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  height: var(--minplayerHeight);
  width: var(--minplayerHeight);
  z-index: 1;


}
.player-Mini-img> img:nth-child(2){
  display: none;
  z-index: 0;
  height: calc(var(--minplayerHeight) - 3px);
  width: calc(var(--minplayerHeight) - 6px);
  
}
.trackIMG>img:nth-child(1){
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  height: var(--minplayerHeight);
  width: var(--minplayerHeight);
  z-index: 1;


}
.trackIMG>img:nth-child(2){
  display: none;
}
.player-Mini-img> img:nth-child(2){
  filter: blur(5px);
  display: block;
}
.player-Mini-img> svg,.trackIMG> svg{
  display: none;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  border-radius: 6px;
  color: hsla(0, 0%, 100%, 0);
  height: calc(var(--minplayerHeight) / 2 );
  width: calc(var(--minplayerHeight) / 2 );
  padding: calc(var(--minplayerHeight) / 4 );
  z-index: 2;
  transition: 0.2s;


}
.player-Mini-img> svg:hover,.trackIMG> svg:hover{
  transform: scale(1.2);
}
.player-Mini-img> svg:active,.trackIMG> svg:active{
  transform: scale(0.8);
}
/*下边的音乐条hover后*/
div.player-Mini:hover > div:nth-child(1) > div.player-Mini-img > img:nth-child(1){
  filter: brightness(0.6);
}
div.player-Mini:hover > div:nth-child(1) > div.player-Mini-img > img:nth-child(2){
  filter: blur(5px) saturate(1.5);
  display: block;
}
div.player-Mini:hover > div:nth-child(1) > div.player-Mini-img > svg{
  color: hsla(0, 0%, 100%, .8);
  display: block;

}
div.player-Mini > div:nth-child(1),div.tracks > div:nth-child(1){
  height: inherit;
  display: flex;
}
div.tracks > div:nth-child(1){
  width: 100%;
  max-width: calc(100% - 45px);
}
div.player-Mini>div:nth-child(1){
  flex: 1 
  
}
div.player-Mini > div.player-Mini-Contorl{
  flex: 0 1 fit-content
}
div.tracks> .linkbox{
  height: inherit;
  float: right;
  width: fit-content;
}
.player-Mini-Title{
  width: 0; 
}
.player-Mini-Title,.trackTitle {
  font-size: 15px;
  margin: 0 8px;
  
  /* display: inline-block; */
  user-select: none;
  overflow: hidden;
flex: 1;
}

.player-Mini-Title>*,.trackTitle>* {
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  max-width: 100%;
}
.player-Mini-Title>*,.trackTitle>h1>a {
}
div.player-Mini-Title>h1,.trackTitle>h1 {
  font-size: 1em;
  margin: 0.42em 0 0 0;
}

div.player-Mini-Title>h2,.trackTitle>h2 {
  color: rgb(44, 62, 80, 0.8);
  font-size: 0.8em;
  margin: 0.20em 0 0 0;
}

div.player-Mini-Title>h2>a,.trackTitle>h2>a {
  margin: 0 0.4em 0 0;
}

.PLtrack {
  display: grid;
  --repeat: 2;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(calc(7vw + 12vh), 1fr));
  --gapver: calc(1.2vh + 1.2vw);
  gap: var(--gapver);
  justify-content: space-between;
  font-size: 16px;
}


.PLtrack>div>img {
  width: 100%;
  border-radius: 1.5vw;
}

.PlTrTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  color: rgba(50, 50, 50, 1);
  font-size: 1rem
}

.PlTrTitle>* {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;

}
.Pltracks{
  position: relative;
}
.Pltracks>img{
  transition: all 0.1s;
  cursor: pointer;

}
.Pltracks:hover>img{
  transform: scale(1.02);
}
.Pltracks:hover>.PlButtom{
  display: flex;
}
.PlButtom{
  position: absolute;
  left: 8px;
  top: 8px;
  padding: 4px 5px;
  background-color: #44444440;
  box-shadow: 0px 0px 20px #00000040;
  backdrop-filter: blur(8px);
  border-radius: 6px;
  min-height: 24px;
  min-width: 24px;
  gap: 5px;
  display: none;
}
.PlButtom>*{
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 4px;
}
.PlButtom>*>svg{
  height: 24px;
  width: 24px;
}
.PlButtom>*:hover{
  background-color: #ffffff30;
}

.PlTrTitle>h1 {
  -webkit-line-clamp: 2;
  font-size: 1em;
  color: rgba(50, 50, 50, 1);
  margin: 0.4em 0 0 0;
}

.PlTrTitle>h2 {
  -webkit-line-clamp: 1;
  font-size: 0.8em;
  color: rgba(100, 100, 100, 1);
  margin: 1px 0 0 0;

}


.player-Mini-Contorl{
  display: flex;
  align-items: center;
  min-width: max-content;
}
.player-Mini-Contorl>a{
  padding: 13px;
  cursor: pointer;
  transition: 0.2s;
}
.player-Mini-Contorl>a:hover{
  transform: scale(1.1);
}
.player-Mini-Contorl>a.player-Mini-Contorl-normal>svg{
  min-width: 20px;
  min-height: 20px;
}

.player-Mini-Contorl>a.player-Mini-Contorl-normal.elm-play>svg{
  min-width: 28px;
  min-height: 28px;
}
.player-Mini-Contorl>a.player-Mini-Contorl-normal.elm-play{
  padding: 6px;
}
@media (max-width: 600px) {
  .minWidthUnneed {
    display: none;
  }

  .player-Mini>.linkbox {
    gap: 8px;
  }

  div.player-Mini-Title>h1,.trackTitle>h1 {
    margin-block-start: 0em;
  }

  div.player-Mini-Title>h2,.trackTitle>h2 {
    color: rgb(44, 62, 80, 0.8);
    font-size: 0.8em;
    margin-block-start: 0.2em;
  }

  :root {
    --minplayerHeight: 36px
  }

  .player-Mini-Title,.trackTitle {
    font-size: 13px;
  }

  .player-Mini-Title>* {
    margin: 3px 0 0 0;

  }

}

.player-background{
  position: absolute;
  content: '';
  width: 120vw;
  height: 120vh;
  margin: -10vh 0 0 -10vw;
  z-index: -2;
    background-color: var(--color1);
    background-repeat: no-repeat;
	background-size: cover;
	filter: blur(10vmax) contrast(0.3) brightness(1.5) saturate(2);
	transition: background 0.4s;
  }
#player > div.player-background.buttom{
  display: none;
}
.electron-control{
  height: 2.5vh;
  width: 100%;
  display: flex;
  position: absolute;
  display: none;
  top: 0;
  pointer-events: none;
}
.electron-control>.dragBar{
  width: 100%;
  height: inherit;
}
.dragbarLine{
  height: 1vh;
  margin: 0.75vh auto;
  width: 200px;
  background-color: #00000010;
  border-radius: 2.5vmin;
}
.playertopbar{
z-index: 0;
  display: flex;
  justify-content: center;
  height: max-content;
  min-height: 72px;
  position: relative;
}

.playerDisplayOutBox {
  position: relative;
  width: 100vw;
gap: 3vw;
display: flex;
  height: calc(100vh - var(--playertopbarHeight));
  max-height: calc(100vh - var(--playertopbarHeight));

}

.playerIndexSide {
  flex-direction: column;
  height: calc(100vh - var(--playertopbarHeight));
  max-height: calc(calc(100vh - var(--playertopbarHeight)) - 40px);
}

.left-side {
  position: relative;
  width: calc(calc(50vw - 40px) - 2vw);
  max-width: 56vh;
  left: 0;
  top: 0;
  display: flex;
  gap: 3vh;
  margin: 0px 0 40px 40px;
  justify-content: space-between;
}

.right-side {
  position: relative;
  padding-left: 10px;
	max-width: calc(100% - 80px - 59vh);

}

.left-sideImage {
  align-items: center;
  text-align: center;
  justify-items: center;
  border-radius: 3vh;
  position: relative;
  overflow: hidden;
  user-select: none;
  background-size: cover;
  background-position: 50% 50%;
}

.left-sideImage>img {
  border-radius: 5%;
  max-width: 100%;
  transition: all 1s;
  max-height: 100%;
  height: auto;
  pointer-events: none;
}
img.ImageBlurBackground{
  position: absolute;
  border-radius: 5%;
  --height: 0px;
  pointer-events: none;

  --marginValue: calc(var(--height) * 0.09);

  max-width: calc(var(--height) - var(--marginValue));
  max-height: calc(var(--height) - var(--marginValue));
  height: var(--height);
  margin: var(--marginValue) 0 0 0;
  left: 50%;
  transform: translate(-50% ,0);
  z-index: -1;
  filter: blur(2.8vmax) contrast(2);
  background-repeat: no-repeat;
	background-size: cover;
  transition: background 1s;
}
.contorlPlayerButtom{
  
  position: absolute;
  z-index: 1;
  height: 100%;
  --scalc: 0.45;
  transform: scale(var(--scalc)) translate(-25%,-25%);
  left: 0;
}
.contorlPlayerButtom:hover{
  background-color: #00000005;
}
.playertopbar > .player-Title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
  font-size: 2vmin;
  text-align: center;
  margin: auto 0 auto 0;
  padding: 2vmin 0;
}

.player-Title>* {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-Title>h1 {
  margin: 0 0 .1em 0;
  font-size: 1.3em;
  color: rgb(0, 0, 0, .75);
  font-weight: 600;
}

.player-Title>h2 {
  margin: .0em 0 .3em 0;
  font-size: .9em;
  color: rgb(0, 0, 0, .5);

}

.player-Title>h2>a {
  margin: 0 0.4em 0 0;
}

.musicContorlCurrTime {
  font-size: 1.8vh;
  --height: 0.8vh;
  flex-direction: column;
  display: flex;
  gap: 0.5vw;
  padding: 1.2vh 0;
  align-content: space-between;
  user-select: none;
}

.box-progressbar {
  background-color: rgb(0, 0, 0, 0.2);
  width: 100%;
  height: var(--height);
  border-radius: var(--height);
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

}

.box-progressbar * {
  border-radius: var(--height);
}

#progress {
  background-color: rgb(0, 0, 0, 0.5);
  height: var(--height);
  min-width: var(--height);
  max-width: 100%;
  width: calc(var(--musicProgressPercent) * 100%);
  border-radius: var(--height);
}

.box-progressbar:hover>#pointer {
  background-color: rgb(15%,15%,15%);

}

#pointer {
  height: var(--height);
  aspect-ratio: 1 / 1;
  transform: scale(1.25) translate(-50%, 0);
}

 div.left-side > div.linkbox{
  display: flex;
  align-content: center;
  gap: 3vw;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 div.left-side >div.linkbox>a {
  display: flex;
  justify-content: center;
  background: rgb(0, 0, 0, 0);
  padding: 1vh 1vh;
  color: rgb(0, 0, 0, .7);
  font-size: 1rem;

}

*>div.left-side>div.playerLeftLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
.playerLeftLink>a{
  padding: 1vh
}

.playerLeftLink>a:hover{
  background-color: #00000008;
  border-radius: 1vh;
}

#lyric {
  overflow: hidden;
  font-size: calc(1.5vh + 0.8vw);

  height: inherit;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul#lyrics {
  
  padding-left: 0;
  height: fit-content;
  min-height: 100%;
  margin-top: var(--marginTop)
}

#lyric ul li {
  color: rgb(0, 0, 0, .15);
  width: fit-content;
  width: -moz-fit-content;
  will-change: transform,filter,color;    
  padding: .9em 0.4em;
  min-height: 3.2em;
  min-width: 7em;
}

#lyric  ul li:active {
  transform: scale(0.9);
}

#lyric  ul li>h1 {
  font-size: 2em;
  margin: 0;
}

#lyric  ul#lyrics li>h2 {
  margin: 0.2em 0 0 0;
  font-size: 1.3em;
}



#lyric  ul li:hover>div {
  visibility: visible;
}

#lyric  ul#lyrics li:hover {
  filter: none !important;
  cursor: pointer;
}

#lyric  ul#lyrics li.false{
	visibility: hidden;
	filter: none;
  transition: all 0s;
} 
#lyric  ul#lyrics li.true{
	visibility: visible
}


@media (min-width:110vh) {
  div.lowWidthDisplay{
    display: none;
  }
}
@media (max-width:110vh) {
div.playertopbar > div.player-Title.displayTop{
    display: none;
  }
  .lowWidthDisplay{
    display: block;
  }
  .right-side{
    display: none;
  }
  .left-side{
    --paddingLeft: 35px;
    padding: 0px 0px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: calc(100% - calc(2 * var(--paddingLeft)));
  }
  .playertopbar{
    height: 54px;
    min-height: 54px;
    max-height: 54px;

  }
  div.left-side > div.linkbox.heightWidthDisplay{
    display: none;
  }
  .playerButton{
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .musicContorlCurrTime{
    font-size: 1.2vh;
    gap: 0.5vh; 
  }
  .player-Title>h1{
    font-size: 1.8em;

  }
  .player-Title{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 2vh;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 100%;
    height:max-content;
    min-height: 15vh;
  }
  
  .player-Title>*{
    overflow: hidden;
    max-width: inherit;
    text-overflow: ellipsis;

  }
  .playerIndexSide{
    height: auto;
  }
  @media (--view: hasLyric) {
    
  }

  /*
    显示歌词的样式
  */
  .lyric .player-Title{
    position: absolute;
    top: 0;
  }
  .lyric .player-Title>div{
    display: none;
  }
  .lyric .ImageBlurBackground,.lyric .left-sideImage{
    display: none;
  }
  .lyric .left-side{
    flex-direction: column-reverse; 
    justify-content: normal;
  }
  .lyric div.lowWidthDisplay.playerButton > div.buttonline:nth-child(1){
    flex-direction: row-reverse;
  }
  .lyric div.lowWidthDisplay.playerButton > div.buttonline:nth-child(1)>a{
    display: none;
  }
  .lyric div.lowWidthDisplay.playerButton > div.buttonline:nth-child(1)>a:nth-child(3){
    display: block;
    float: right;
    z-index: 1;
  }
  .musicContorlCurrTime{
    z-index: 1;
  }
  .lyric .right-side{
    display: block;
    position: absolute;
    top: 9vh;
    z-index: 0;
    left: calc(50% - 1vh);
    transform: translate(-50%,0);
    padding: 0;
    height: 75vh;
    overflow: hidden;
    --paddingLeft: 35px;
    width:56vh;
    max-width: calc(100vw - 70px);
    border-radius: 1vh;
  }
  .lyric .right-side .lyrics{
    padding: 0;margin: 0;
  }
  .lyric #lyric ul{
    font-size: 1.9vh;
  }
  
}
.lowWidthDisplay .buttonline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contorlPage{
  display: flex;
    font-size: 2vh;
    gap: 0.5em;
  align-items: center;
  color: rgb(0,0,0,0.7);
}
.contorlPage.true{
  color: rgb(0,0,0,1);
}
.contorlPage>*::after{
  content: '';
  margin-left: 0.5em;
  border-right: 1px solid rgb(0, 0, 0,0.2);
}
.contorlPage>*:nth-child(2):after{

  border-right: none;
}

.artistText{
  padding: .2em !important;
  border-radius: .3em !important;
  user-select: none;
  transition: .1s;
}
.artistText:hover{
  background-color: #00000015;
  cursor: pointer;
  transform: scale(1.1) !important; 
}

.mvTracks{
  display: flex;
  flex-direction: row;
  height: 160px;
  width: 100%;
  gap: 12px;
  position: relative;
  padding-bottom: 10px;
  overflow-x: auto;

}
.mvTrack{
  position: relative;
  height: 100%;
  overflow: hidden;
  min-width: max-content;
  aspect-ratio: 16 / 9;
  border-radius: 13px;
}
.mvTrack>img{
  height: 100%;
  width: auto;
  z-index: 0;
}
.mvTrack>div{
  position: absolute;
  z-index: 1;
}
.mvTrack>div.mvTitle{
  color: #fff;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  width: 100%;
  padding-top: 1em;

  padding-left: 1em;
  padding-bottom: 0.4em;
  height: 1.3em;
  background-image: linear-gradient(#00000000,#00000050);
}
.mvTrack>div.mvTime{
  color: #ffffff88;
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 100%;
  padding-bottom: 1em;
  font-size: .8em;
  padding-left: 1em;
  padding-top: 0.4em;
  height: 1.3em;
  transform: translateY(-100%);
  background-image: linear-gradient(#00000050,#00000000);
  transition: all .1s;
}
.mvTrack:hover>div.mvTime{
  transform: translateY(0);
  
}
/*
@media (max-width:110vh) {
	#lyric{
		font-size: 2.5vmax;
	}
	.left-side{
		position: absolute;
		z-index: 1;
		flex-direction: row;
		align-items:center;
		height: 36px;
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		background-color: rgb(0,0,0,0.03);
		width: fit-content;
		width: -moz-fit-content;
		padding: 10px;border-radius: 8px;
		top: 100%;
		gap: 2.9vw;
		margin: -76px 0 0 0;
		left: 50%;
		transform: translate(-50%,0);box-shadow: 0 0 20px hsla(0,0%,39%,.05);
	}
	.left-side>.musicContorlCurrTime{
		display: none;
	}
	.right-side{
		max-width: none;
    
		padding: 0 var(--paddingIndex);
	}
	.left-sideImage{display:none}
	#player > div.playerDisplayOutBox > div.left-side.playerIndexSide > div.playerLeftLink > a:nth-child(1) > svg{
		width: 3vh;
		height: 3vh;
	}
	.playerLeftLink{
		display: flex;
		align-content: center;
		gap: 3vw;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.playerLeftLink>a{
		padding: 0.5em;
	}
  .player-Title {

    font-size: 0.8rem;}
}

@media (max-width:500px) {
  .left-side{
    max-width: none;
    width:100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0;
    float: right;
    gap: 0;
    background-color: rgb(0,0,0,0);
    margin: 0;
    backdrop-filter: none;
    box-shadow: none;
    padding: 10px;
    align-items: unset;
    transform: translate(-50%,-100%);
  } 
  .right-side{
    overflow: hidden;
    height: calc(calc(100vh - var(--playertopbarHeight)) - 120px);
  }
} 
*/