#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

body > div.app-loading-wrap{
  display: none-;
}
h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}
@font-face {
  font-family: harmony;
  font-display: swap;
  src: url(./font/HarmonyOS_Sans_SC_Medium.ttf);
}

@font-face {
  font-family: harmonyLite;
  font-display: swap;
  src: url(./font/HarmonyOS_Sans_Light.ttf);
}

* {
  font-family: harmony;
}

.tl-title {
  font-family: harmonyLite;

}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

:root {
  --paddingIndex-MaxWidth: calc(100vw - calc(var(--paddingIndex) + var(--paddingIndex)));
  --paddingIndex: 12vw;
  --hsla-white: hsla(0, 0%, 95%, .4);
  --minplayerHeight: 48px;
  --leftlab-width: 56px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: hsla(0, 0%, 50.2%, .15);
}

@media (max-width: 1500px) {
  :root {
    --paddingIndex: 15vw
  }
}

@media (max-width: 1200px) {
  :root {
    --paddingIndex: 13vw
  }
}

@media (max-width: 800px) {
  :root {
    --paddingIndex: 10vw
  }
}

@media (max-width: 600px) {
  :root {
    --paddingIndex: 6vw;

  }

  .tl-title {
    font-family: harmonyLite;
    display: none;

  }
}

.acrylicEffect,.leftlab.leftlab.iconWithText {
	-webkit-backdrop-filter:
    /* 负责背景模糊 */
    blur(3vw)
    /* 负责亮度，100 以下会变暗，以上会提亮 */
    brightness(100%)
    /* 负责颜色饱和度，可以减小来衬托前景，避免背景太鲜艳 */
    saturate(140%);
  backdrop-filter:
    /* 负责背景模糊 */
    blur(3vw)
    /* 负责亮度，100 以下会变暗，以上会提亮 */
    brightness(100%)
    /* 负责颜色饱和度，可以减小来衬托前景，避免背景太鲜艳 */
    saturate(140%);
  /* 负责颜色叠加，一半白色、黑色或主题色，衬托前景 */
  background-color: #ffffff88;
  /* 负责在效果上添加噪点，可以营造出磨砂效果 */
  /* 磨砂大小 */
}

.leftlab {
  position:absolute;
  width: calc(var(--leftlab-width) - 20px);
  height: calc(100vh - 20px);
  display: flex;
  top: 0;
  padding: 10px 10px;
  float: left;
  color: #444;
  font-size: 26px;
  align-content: center;
  background-color: #fff;
  gap: 12px;
  flex-direction: column;
  z-index: 100;
  backdrop-filter:
  /* 负责背景模糊 */
  blur(0vw)
  /* 负责亮度，100 以下会变暗，以上会提亮 */
  brightness(100%)
  /* 负责颜色饱和度，可以减小来衬托前景，避免背景太鲜艳 */
  saturate(140%);
  transition: all .2s cubic-bezier(.3, .45, .2, .95);
  -webkit-backdrop-filter:
  /* 负责背景模糊 */
  blur(0vw)
  /* 负责亮度，100 以下会变暗，以上会提亮 */
  brightness(100%)
  /* 负责颜色饱和度，可以减小来衬托前景，避免背景太鲜艳 */
  saturate(140%);
  transition: all .2s cubic-bezier(.3, .45, .2, .95);

}
.leftlab.top{
  display: none;
}
.leftlab.icon{
  transition: width .2s cubic-bezier(.3, .45, .2, .95) 0.2s;

}
.leftlab.leftlab.iconWithText{
  transition: width .2s cubic-bezier(.3, .45, .2, .95),box-shadow .2s cubic-bezier(.3, .45, .2, .95);
  box-shadow: 4px 0px 50px #00000005;
}
.leftlab>.linkbox{
  flex-direction: column;
  align-items: flex-start;
}

.leftlab>.linkbox>a{
  background: rgb(0, 0, 0, 0);
  white-space: nowrap;
  padding: 8px;
  width: calc(100% - 19px);
  user-select: none;
  display: flex;
  align-items:center;
  position: relative;
}

.leftlab>.linkbox>a>a{
  pointer-events: none;
  transform: translate(0%,-50%);
  margin-left: 1.3em;
  font-size: 16px;
  position: absolute;
  top: 50%;
}
.leftlab.icon>.linkbox>a>a{
  opacity: 0;
  transition: all .2s cubic-bezier(.3, .45, .2, .95),color 0s;

}
.leftlab.iconWithText>.linkbox>a>a{
  opacity: 1;
  transition: all .2s cubic-bezier(.3, .45, .2, .95) .2s,color 0s;

}
.leftlab.iconWithText{
  --leftlab-width: 200px;
}
nav {
  padding: 30px;
}

.linkbox {
  display: flex;
  align-content: center;
  gap: 12px;
  align-items: center;
  flex-direction: row;
}

.linkbox>a {


  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 7px;
  background: rgb(0, 0, 0, 0.03);
  color: #444;
  transition: all .2s cubic-bezier(.3, .45, .2, .95);
}

.linkbox.bigger>a {


  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.linkbox>a:hover {
  cursor: pointer;
  background: rgb(0, 0, 0, 0.03);
  transform: scale(1.05);
}

.linkbox a:active {
  transform: scale(0.90);
}

.linkbox a.router-link-exact-active {
  color: #0080ff;

  background: #0080ff15;
}

input#searchInput {

  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 7px;
  transition: all .2s cubic-bezier(.3, .45, .2, .95);
  color: #2c3e50;
  border: none;
  margin: auto 0;
  background: #00000008;
  outline: none;
  width: 200px;
  margin: 10px 0;
}

#link-musicLib-me {
  display: none;
}

@media (max-width: 650px) {
  .toplab>.linkbox>a {
    font-size: 14px;
  }

  .toplab {
    font-size: 23px;
  }

  input#searchInput {
    font-size: 14px;
    height: 16px;
  }

  #link-musicLib-me {
    display: block;
  }

  #link-musicLib {
    display: none;
  }
}

@media (max-width: 410px) {
  .linkbox>a {
    font-size: 14px;
  }
  div.player-Mini > div:nth-child(1),div.tracks > div:nth-child(1){
    width: 100%;
    display: flex;
    max-width: calc(100% - 60px);
  }
  .toplab {
    font-size: 23px;
  }

  input#searchInput {
    font-size: 14px;
    height: 16px;
    width: 150px;
  }
}
.ROWTOPtitle{
  position: relative;
  display: flex;
  gap: 12px;
  background-color: #fff;
  z-index: 1;
  align-items: center;
  
}
.ROWTOPtitle>div.dragBar{
  width: calc(100%);
  height: 100%;
  
  
}
.dragBar{
  -webkit-app-region: drag
}
.tl-title {
  user-select: none;
  font-size: 22px;
  padding: 10px 0;
  margin-left: 8px;
}

.tl-title::after {
  padding: 0 0 0 15px;
}
.rightrow{
flex-direction: column;
  position: relative;
  
  display: flex;
  padding: 0px 00px 0px calc(var(--leftlab-width) + 00px);
  width:  calc(100% - var(--leftlab-width));
  height:100vh;
}
.rightrow.top{
  display: none;
}
.viewBox {
  height: 100%;
  
  float: left;
  border-radius: 12px;
  background: var(--hsla-white);
  
  padding:20px;
  padding-bottom: 84px;
  overflow-y: auto;
  overflow-x: hidden;
}

.opes {
  padding: 20px 0;
  transition: all .5s cubic-bezier(.3, .45, .2, .95);
  filter: blur(0px);

}

.playButtom {
  position: absolute;
  top: 100%;
  left: 100%;
  height: 48px;
  border: solid 2px rgb(255, 255, 255, .35);
  border-radius: 50%;
  transform: translate(calc(-100% - 24px), calc(-100% - 24px)) scale(1);
  width: 48px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-image: radial-gradient(closest-side, rgb(255, 255, 255, 0.65), rgb(255, 255, 255, .20)), url(./icon/24gf-play.svg);
  background-size: 100% 100%, 25px, 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%, 54% 52%;
}

/**.

  主播放器UI

*/
#player {
  position: fixed;
  overflow: hidden;
  top: calc(100% + 20px);
  
  z-index: 101;
  width: 100%;
  transition: all .5s cubic-bezier(.3, .45, .2, .95);
  padding-bottom: 20px;
  box-shadow: #00000005 0 0 40px 0px;
  height: calc(100% + var(--minplayerHeight));
  margin-top: -18px;
  background: #ffffff;
}

.tracks{
  height: var(--minplayerHeight);
  white-space: nowrap;
  padding: 9px 0px;
  display: flex;
  gap: 8px;
  flex-direction: row;
  text-overflow: ellipsis

}
.player-Mini {
  position: relative;
  gap: 8px;
  background-color: #fff;
  padding: 9px 15px;
  height: var(--minplayerHeight);
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
}
.player-Mini-img,.trackIMG{
    display: inline-block;
    position: relative;
    user-select: none;
    border-radius: 13px;

    height: calc(var(--minplayerHeight) - 3px);
    width: calc(var(--minplayerHeight) - 6px);
    padding: 3px 3px 0 3px;
}
.player-Mini-img>*{
  transition: 0.08s;
}
.player-Mini-img>img,.trackIMG>img{
  border-radius: 6px;
}
.player-Mini-img> img:nth-child(1),.trackIMG>img:nth-child(1){
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  height: var(--minplayerHeight);
  width: var(--minplayerHeight);
  z-index: 1;


}
.player-Mini-img> img:nth-child(2),.trackIMG>img:nth-child(2){
  display: none;
  z-index: 0;
  height: calc(var(--minplayerHeight) - 3px);
  width: calc(var(--minplayerHeight) - 6px);
  
}
.player-Mini-img> img:nth-child(2){
  filter: blur(5px);
  display: block;
}
.player-Mini-img> svg,.trackIMG> svg{
  display: none;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  border-radius: 6px;
  color: hsla(0, 0%, 100%, 0);
  height: calc(var(--minplayerHeight) / 2 );
  width: calc(var(--minplayerHeight) / 2 );
  padding: calc(var(--minplayerHeight) / 4 );
  z-index: 2;
  transition: 0.2s;


}
.player-Mini-img> svg:hover,.trackIMG> svg:hover{
  transform: scale(1.2);
}
.player-Mini-img> svg:active,.trackIMG> svg:active{
  transform: scale(0.8);
}
/*下边的音乐条hover后*/
div.player-Mini:hover > div:nth-child(1) > div.player-Mini-img > img:nth-child(1),.tracks:hover>div>.trackIMG>img:nth-child(1){
  filter: brightness(0.6);
}
div.player-Mini:hover > div:nth-child(1) > div.player-Mini-img > img:nth-child(2),.tracks:hover>div>.trackIMG>img:nth-child(2){
  filter: blur(5px) saturate(1.5);
  display: block;
}
.trackIMG>img:nth-child(2){
  display: block;
}
div.player-Mini:hover > div:nth-child(1) > div.player-Mini-img > svg,.tracks:hover>div>.trackIMG>svg{
  color: hsla(0, 0%, 100%, .8);
  display: block;

}
div.player-Mini > div:nth-child(1),div.tracks > div:nth-child(1){
  width: 100%;
  display: flex;
  max-width: calc(100% - 60px);
}
.player-Mini-Title,.trackTitle {
  font-size: 15px;
  margin: 0 8px;
  display: inline-block;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.player-Mini-Title>*,.trackTitle>* {
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	display: -webkit-box;
}

div.player-Mini-Title>h1,.trackTitle>h1 {
  font-size: 1em;
  margin: 0.42em 0 0 0;
}

div.player-Mini-Title>h2,.trackTitle>h2 {
  color: rgb(44, 62, 80, 0.8);
  font-size: 0.8em;
  margin: 0.20em 0 0 0;
}

div.player-Mini-Title>h2>a,.trackTitle>h2>a {
  margin: 0 0.4em 0 0;
}
.player-Mini-Contorl{
  display: flex;
  align-items: center;
  min-width: max-content;
}
.player-Mini-Contorl>a{
  padding: 13px;
  cursor: pointer;
  transition: 0.2s;
}
.player-Mini-Contorl>a:hover{
  transform: scale(1.1);
}
.player-Mini-Contorl>a.player-Mini-Contorl-normal>svg{
  min-width: 20px;
  min-height: 20px;
}

.player-Mini-Contorl>a.player-Mini-Contorl-normal.elm-play>svg{
  min-width: 28px;
  min-height: 28px;
}
.player-Mini-Contorl>a.player-Mini-Contorl-normal.elm-play{
  padding: 6px;
}
@media (max-width: 600px) {
  .minWidthUnneed {
    display: none;
  }

  .player-Mini>.linkbox {
    gap: 8px;
  }

  div.player-Mini-Title>h1,.trackTitle>h1 {
    margin-block-start: 0em;
  }

  div.player-Mini-Title>h2,.trackTitle>h2 {
    color: rgb(44, 62, 80, 0.8);
    font-size: 0.8em;
    margin-block-start: 0.2em;
  }

  :root {
    --minplayerHeight: 36px
  }

  .player-Mini-Title,.trackTitle {
    font-size: 13px;
  }

  .player-Mini-Title>* {
    margin: 3px 0 0 0;

  }

}

.player-background{
  position: absolute;
  content: '';
  width: 120vw;
  height: 120vh;
  margin: -10vh 0 0 -10vw;
  z-index: -2;
    background-color: var(--color1);
    background-repeat: no-repeat;
	background-size: cover;
	filter: blur(10vmax) contrast(0.3) brightness(1.5) saturate(2);
	transition: 0.3s;
  }
#player > div.player-background.buttom{
  display: none;
}
.electron-control{
  height: 32px;
  display: flex;
}
.electron-control>.dragBar{
  width: 100%;
  height: 32px;
}
.playertopbar{
  height: 72px;
  max-height: 72px;
}

.playerDisplayOutBox {
  position: relative;
  width: 100vw;
gap: 3vw;
  height: calc(100vh - 72px);
  max-height: calc(100vh - 72px);

}

.playerIndexSide {
  flex-direction: column;
  height: calc(100vh - 72px);
  max-height: calc(100vh - 132px);
}

.left-side {
  position: relative;
  width: calc(calc(50vw - 40px) - 2vw);
  max-width: 56vh;
  left: 0;
  top: 0;
  display: flex;
  gap: 3vh;
  margin: 0px 0 40px 40px;
  justify-content: space-between;
}

.right-side {
  padding-left: 10px;
	max-width: calc(100% - 80px - 59vh);

}

.left-sideImage {
  align-items: center;
  text-align: center;
  justify-items: center;
  border-radius: 3vh;
  position: relative;
  overflow: hidden;
}

.left-sideImage>img {
  border-radius: 5%;
  max-width: 100%;
  transition: all 1s;
  max-height: 100%;
  height: auto;
}
img.ImageBlurBackground{
  position: absolute;
  border-radius: 5%;
  --height: 0px;
  --marginValue: calc(var(--height) * 0.09);

  max-width: calc(var(--height) - var(--marginValue));
  max-height: calc(var(--height) - var(--marginValue));
  height: var(--height);
  margin: var(--marginValue) 0 0 0;
  left: 50%;
  transform: translate(-50% ,0);
  z-index: -1;
  filter: blur(2.8vmax) contrast(2);
  background-repeat: no-repeat;
	background-size: cover;
  transition: all 1s;
}
.contorlPlayerButtom{
  height: 24px;
  width: 24px;
  position: absolute;
  font-size: 14px;
  z-index: 1;
  margin: -16px 0 0 8px;
}
.contorlPlayerButtom:hover{
  background-color: #00000005;
}
.player-Title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  margin-top: -16px;
}

.player-Title>* {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-Title>h1 {
  margin: 0 0 .1em 0;
  font-size: 1.3em;
  color: rgb(0, 0, 0, .75);
  font-weight: 600;
}

.player-Title>h2 {
  margin: .0em 0 .3em 0;
  font-size: .9em;
  color: rgb(0, 0, 0, .5);

}

.player-Title>h2>a {
  margin: 0 0.4em 0 0;
}

.musicContorlCurrTime {
  font-size: 1.8vh;
  --height: 0.8vh;
  flex-direction: column;
  display: flex;
  gap: 0.5vw;
  padding: 1.2vh 0;
  align-content: space-between;
  user-select: none;
}

.box-progressbar {
  background-color: rgb(0, 0, 0, 0.2);
  width: 100%;
  height: var(--height);
  border-radius: var(--height);
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

}

.box-progressbar * {
  border-radius: var(--height);
}

#progress {
  background-color: rgb(0, 0, 0, 0.5);
  height: var(--height);
  min-width: var(--height);
  max-width: 100%;
  width: calc(var(--musicProgressPercent) * 100%);
  border-radius: var(--height);
}

.box-progressbar:hover>#pointer {
  background-color: rgb(0, 0, 0, .4);

}

#pointer {
  height: var(--height);
  aspect-ratio: 1 / 1;
  transform: scale(1.25) translate(-50%, 0);
}

 div.left-side > div.linkbox{
  display: flex;
  align-content: center;
  gap: 3vw;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 div.left-side >div.linkbox>a {
  display: flex;
  justify-content: center;
  background: rgb(0, 0, 0, 0);
  padding: 1vh 1vh;
  color: rgb(0, 0, 0, .7);
  font-size: 1rem;

}

*>div.left-side>div.playerLeftLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
.playerLeftLink>a{
  padding: 1vh
}

.playerLeftLink>a:hover{
  background-color: #00000008;
  border-radius: 1vh;
}

#lyric {
  overflow: hidden;
  font-size:2.4vmin;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul#lyrics {
  
  padding-left: 0;
  height: fit-content;
  min-height: 100vh;
  margin-top: var(--marginTop)
}

#lyric ul li {
  color: rgb(0, 0, 0, .15);
  width: fit-content;
  width: -moz-fit-content;
  will-change: transform,filter,color;
}

#lyric  ul li:active {
  transform: scale(0.9);
}

#lyric  ul li {
  padding: 0.2em 0.4em;
}

#lyric  ul li>h1 {
  font-size: 2em;
  margin: 0;
}

#lyric  ul#lyrics li>h2 {
  margin: 0.2em 0 0 0;
  font-size: 1.3em;
}

#lyric  ul li>div {
  font-size: 1.5vh;
  width: fit-content;
  width: -moz-fit-content;
  margin-top: 0.2em;
  padding: 0.3em 0.5em;
  border-radius: 0.8em;
  visibility: hidden;
  background-color: none;

}

#lyric  ul li:hover>div {
  visibility: visible;
  background-color: rgb(0, 0, 0, .05)
}

#lyric  ul#lyrics li:hover {
  filter: none;
  cursor: pointer;


}

#lyric  ul#lyrics li.false{
	visibility: hidden;
	filter: none;
  transition: all 0s;
}
#lyric  ul#lyrics li.true{
	visibility: visible
}
@media (max-width:110vh) {
	#lyric{
		font-size: 2.5vmax;
	}
	.left-side{
		position: absolute;
		z-index: 1;
		flex-direction: row;
		align-items:center;
		height: 36px;
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		background-color: rgb(0,0,0,0.03);
		width: fit-content;
		width: -moz-fit-content;
		padding: 10px;border-radius: 8px;
		top: 100%;
		gap: 2.9vw;
		margin: -76px 0 0 0;
		left: 50%;
		transform: translate(-50%,0);box-shadow: 0 0 20px hsla(0,0%,39%,.05);
	}
	.left-side>.musicContorlCurrTime{
		display: none;
	}
	.right-side{
		max-width: none;
    
		padding: 0 var(--paddingIndex);
	}
	.left-sideImage{display:none}
	#player > div.playerDisplayOutBox > div.left-side.playerIndexSide > div.playerLeftLink > a:nth-child(1) > svg{
		width: 3vh;
		height: 3vh;
	}
	.playerLeftLink{
		display: flex;
		align-content: center;
		gap: 3vw;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.playerLeftLink>a{
		padding: 0.5em;
	}
}
/*
/*==仅歌词==
.onlylyric .playerDisplayOutBox .right-side #lyric  ul#lyrics li.lineHeight>h1 {
  font-size: 2.4em;
}

.onlylyric .playerDisplayOutBox .right-side #lyric  ul#lyrics li.lineHeight-1>h1 {
  font-size: 1.45em;
}

.onlylyric .playerDisplayOutBox .right-side #lyric  ul#lyrics li.lineHeight--1>h1 {
  font-size: 1.6em;
}

.onlylyric .playerDisplayOutBox .right-side #lyric  ul#lyrics li.lineHeight--2>h1 {
  font-size: 1.4em;
}

.player-left-centerrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width);
  margin-top: 2vh;

}

.player-left-centerrow>.linkbox>a {
  background: none;
}


@media (min-width: 1200px) {
  #lyric  ul li {
    filter: blur(0.15vw);
  }

  #lyric  ul#lyrics li.lineHeight {
    color: rgb(0, 0, 0, .7);
    filter: blur(0px);
  }

  #lyric  ul#lyrics li.lineHeight-1 {
    color: rgb(0, 0, 0, .35);
    filter: blur(0.1vw);
  }

  #lyric  ul#lyrics li.lineHeight--1 {
    color: rgb(0, 0, 0, .4);
    filter: blur(0.08vw);
  }

  #lyric  ul#lyrics li.lineHeight--2 {
    filter: blur(0.12vw);
    color: rgb(0, 0, 0, .28);
  }
}

@media (max-width: 130vh) {
  .playerDisplayOutBox {
    grid-template-columns: repeat(1, 1fr);
  }

  #player>div:nth-child(3)>div>svg.bi.bi-grid-1x2 {
    display: none;
  }

  div>div>div.right-side {
    display: none;
  }

  div.onlylyric>div.right-side {
    display: block;
  }

  .left-side.playerIndexSide {
    padding: 20px 0 60px 0;
    align-items: center;
  }
}

@media (max-width: 75vh) {
  .left-side.playerIndexSide {
    --width: 75vw;
  }

  .onlylyric .playerDisplayOutBox .right-side #lyric  ul#lyrics li.lineHeight-1>h1 {
    font-size: 1.2em;

  }

  .onlylyric .playerDisplayOutBox .right-side #lyric  ul#lyrics li.lineHeight>h1 {
    font-size: 1.8em;

  }

  .onlylyric .playerDisplayOutBox .right-side #lyric  ul#lyrics li.lineHeight--1>h1 {
    font-size: 1.42em;

  }

  .onlylyric .playerDisplayOutBox .right-side #lyric  ul#lyrics li.lineHeight--2>h1 {
    font-size: 1.30em;
  }

}
*/