.windowControlBar{
    display: flex;
    /* background-color: black; */
    width: fit-content;
    position: fixed;
    z-index: -100;
    right: 0;
}
.windowControlBar>*{
    width: 46px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.windowControlBar>*:hover{
    background-color: #0001;
}
.windowControlBar>.close:hover{
    background-color: #e00;
    color: white;
}
.windowControlBar>.max>svg{
    /* background-color: #f00; */
    width: 14px;
    height: 14px;
}